# Mac OSx
.DS_Store

# Sublime
.tags
.gemtags
.tags_sorted_by_file

# Intellij
.idea/
*.iml
*.iws
.rakeTasks

# Emacs Stuff
.projectile
.elixir_ls/

# Scripts Project
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
