[user]
  name = Diogo Scudelletti
  email = diogo@scudelletti.com
  signingkey = BF74144D53C59D71EEEB69178D9E23A828418131

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "diff"]
  commit = yellow

[core]
  editor = emacs -nw
  excludesfile = ~/.gitignore

[help]
  autocorrect = 0

[push]
  default = current

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log

  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard

[commit]
  gpgsign = true

# Delta Diff Pager
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  navigate = true

[interactive]
  diffFilter = delta --color-only
