[user]
  name = Diogo Scudelletti
  email = diogo@scudelletti.com

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "diff"]
  commit = yellow

[core]
  editor = emacs -nw
  excludesfile = ~/.gitignore

[help]
  autocorrect = 1

[push]
  default = current

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log

  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard
