xterm.vt100.reverseVideo: true
xterm.termName: xterm-256color
xterm.vt100.metaSendsEscape: true
xterm.vt100.locale: true
!xterm.vt100.faceName: Ubuntu-Mono:size=10:antialias=true
xterm.vt100.font: fixed
xterm.vt100.boldFont: fixed
xterm.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
