modmap:
  - name: Swap Left Super/Alt
    device:
      not: ['ZSA Technology Labs ErgoDox EZ', 'Input:Club Infinity Ergodox (QMK)']
    remap:
      CapsLock: Ctrl_L
      Super_L: Alt_L
      Alt_L: Super_L

default_mode: default
keymap:
  - mode: default
    remap:
      Ctrl_R-d: [{set_mode: default}, {launch: ["bash", "-c", "notify-send 'DISABLED'"]}]
      Ctrl_R-v: [{set_mode: vim_normal}, {launch: ["bash", "-c", "notify-send '[NORMAL]'"]}]
      Ctrl_R-e: [{set_mode: emacs}, {launch: ["bash", "-c", "notify-send 'Emacs'"]}]
      Ctrl_R-m: [{set_mode: macos}, {launch: ["bash", "-c", "notify-send 'MacOS'"]}]
  - mode: vim_insert
    remap:
      Ctrl_R-d: [{set_mode: default}, {launch: ["bash", "-c", "notify-send 'DISABLED'"]}]
      Ctrl_R-v: [{set_mode: vim_normal}, {launch: ["bash", "-c", "notify-send '[NORMAL]'"]}]
      Ctrl_R-e: [{set_mode: emacs}, {launch: ["bash", "-c", "notify-send 'Emacs'"]}]
      Ctrl_R-m: [{set_mode: macos}, {launch: ["bash", "-c", "notify-send 'MacOS'"]}]
      Esc: [{set_mode: vim_normal}, {launch: ["bash", "-c", "notify-send '[NORMAL]'"]}]
  - mode: vim_normal
    remap:
      Ctrl_R-d: [{set_mode: default}, {launch: ["bash", "-c", "notify-send 'DISABLED'"]}]
      Ctrl_R-v: [{set_mode: vim_normal}, {launch: ["bash", "-c", "notify-send '[NORMAL]'"]}]
      Ctrl_R-e: [{set_mode: emacs}, {launch: ["bash", "-c", "notify-send 'Emacs'"]}]
      Ctrl_R-m: [{set_mode: macos}, {launch: ["bash", "-c", "notify-send 'MacOS'"]}]
      # Insert
      i: [{set_mode: vim_insert}, {launch: ["bash", "-c", "notify-send '[INSERT]'"]}]
      shift-a: [End, {set_mode: vim_insert}, {launch: ["bash", "-c", "notify-send '[INSERT]'"]}]
      # Delete
      x: Delete
      d:
        remap:
          d: [Home, Shift-End, Delete, Delete]
        timeout_millis: 200
      # Chars
      h: {with_mark: Left}
      l: {with_mark: Right}
      k: {with_mark: Up}
      j: {with_mark: Down}
      # Words
      b: {with_mark: C-Left}
      e: {with_mark: C-Right}
      # Line
      0: {with_mark: Home}
      Shift-4: {with_mark: Shift-End}
      # Selection
      v: {set_mark: true}
      Esc: {set_mark: false}
      # Clipboard
      y: [Copy, {set_mark: false}]
      p: Paste
      C-c: [Copy, {set_mark: false}]
      C-x: [Cut, {set_mark: false}]
      # Undo
      u: [Undo, {set_mark: false}]
  - mode: emacs
    remap:
      Ctrl_R-d: [{set_mode: default}, {launch: ["bash", "-c", "notify-send 'DISABLED'"]}]
      Ctrl_R-v: [{set_mode: vim_normal}, {launch: ["bash", "-c", "notify-send '[NORMAL]'"]}]
      Ctrl_R-e: [{set_mode: emacs}, {launch: ["bash", "-c", "notify-send 'Emacs'"]}]
      Ctrl_R-m: [{set_mode: macos}, {launch: ["bash", "-c", "notify-send 'MacOS'"]}]
      # Chars
      C-f: {with_mark: Right}
      C-b: {with_mark: Left}
      C-p: {with_mark: Up}
      C-n: {with_mark: Down}
      # Words
      M-f: {with_mark: C-Right}
      M-b: {with_mark: C-Left}
      # Line
      C-a: {with_mark: Home}
      C-e: {with_mark: End}
      # Deletion
      C-d: [Delete, {set_mark: false}]
      M-d: [C-Delete, {set_mark: false}]
      M-Backspace: [C-Backspace, {set_mark: false}]
      C-k: [Shift-End, Cut, {set_mark: false}]
      # Clipboard
      C-w: [Cut, {set_mark: false}]
      C-y: Paste
      M-w: Copy
      # Commands
      C-Space: {set_mark: true}
      C-g: {set_mark: false}
      C-s: C-f
      C-slash: [Undo, {set_mark: false}]
      C-x:
        remap:
          h: [C-a, {set_mark: true}]
          C-c: C-q
          C-s: C-s
  - mode: macos
    remap: &macos
      Ctrl_R-d: [{set_mode: default}, {launch: ["bash", "-c", "notify-send 'DISABLED'"]}]
      Ctrl_R-v: [{set_mode: vim_normal}, {launch: ["bash", "-c", "notify-send '[NORMAL]'"]}]
      Ctrl_R-e: [{set_mode: emacs}, {launch: ["bash", "-c", "notify-send 'Emacs'"]}]
      Ctrl_R-m: [{set_mode: macos}, {launch: ["bash", "-c", "notify-send 'MacOS'"]}]
      # Cursor Movement
      C-Left: Home
      C-Right: End
      C-a: Home
      C-e: End
      C-b: Left
      C-f: Right
      C-p: Up
      # Undo previous when shift is pressed
      C-Shift-p: C-Shift-p
      C-n: Down
      C-Shift-n: C-Shift-n
      Ctrl-d: Delete
      # Word Movement
      M-b: Ctrl-Left
      M-f: Ctrl-Right
      # Undo previous when alt is pressed
      Super-Alt-f: Super-Alt-f
      M-d: Ctrl-Delete
      # Selection
      Super-a: Ctrl-a
      # Clipboard
      Super-c: Copy
      Super-x: Cut
      Super-v: Paste
      # Undo previous when shift if pressed
      Super-Shift-v: Super-Shift-v
      Super-z: Undo
      Super-Shift-z: Redo
      # Tabs
      Super-Shift-RIGHTBRACE: Ctrl-Tab
      Super-Shift-LEFTBRACE: Ctrl-Shift-Tab
      # Extra
      Super-f: Ctrl-f
      Super-n: Ctrl-n
      Super-w: Ctrl-w
      Super-d: Ctrl-d
      Super-p: Ctrl-p
      Ctrl-k: [Shift-End, Delete, {set_mark: false}]
      M-Backspace: Ctrl-Backspace
  - name: Apps with MacOS like mapping
    application:
      only:
        - org.mozilla.firefox
        - sublime_text
        - Slack
        - org.telegram.desktop
    remap: *macos
